alias ..='cd ..'
alias ...='cd ../..'
alias b='back'
alias bm='bookmark'
alias calc='bc -l' # Start calculator with math support.
alias cd..='cd ..'
alias cough='~/projects/cough-syrup/bin/cough'
alias cpuinfo='lscpu' # Get cpu info.
alias crowserify="browserify -t coughify --extension='.cough'"
alias ducks='du -cks * | sort -rn | head'
alias echoErr='>&2 echo'
alias echox='echo $(xclip -o)'
alias ff='find . -name $1'
alias gitst='git st'
alias gitd='git d'
alias gr='cd "$( git rev-parse --show-cdup || pwd )"' # Go to git-repo root.
alias h='history'
alias igrep='grep -i'
alias ls='ls -A --group-directories-first --color=auto'
alias memory='less /proc/meminfo'
alias meminfo='free -m' # Show memory resources.
alias mkdir='mkdir -pv'
alias path='echo -e ${PATH//:/\\n}' # List all of the paths in $PATH.
alias ports='netstat -tulanp' # Show open ports.
alias st="git status"
alias quit='exit'
alias v='vim'
alias wortolisto='vim ~/docs/wortolistoj/wortolisto'
